@use "../utils" as u;

.card {
  background: linear-gradient(
    146.82deg,
    rgba(73, 135, 255, 0.12) 8.98%,
    rgba(163, 148, 255, 0.0144) 74.98%
  );
  box-shadow: inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.08);
  border-radius: u.rem(20);
  padding: u.rem(36) u.rem(48);
  border: 2px solid rgba(255, 255, 255, 0.5);

  p {
    max-width: u.rem(417);
  }
}

@include u.breakpoint(large) {
  .card {
    padding: u.rem(24) u.rem(32);
    border-radius: u.rem(10);
  }
}
