@use "../utils" as u;

.cardWrapper {
  flex: 1;
  border-radius: u.rem(20);
  overflow: hidden;
  background: linear-gradient(120deg, white, #4987ff, #e064e3);
  padding: 0.2rem;

  .card {
    height: 100%;
    width: 100%;
    background: #120e45;
    padding: u.rem(38) u.rem(24);
    border-radius: u.rem(20);
    text-align: center;

    // background: linear-gradient(
    //   146.82deg,
    //   rgba(73, 135, 255, 0.12) 8.98%,
    //   rgba(163, 148, 255, 0.0144) 74.98%
    // );

    img {
      width: u.rem(55);
    }
  }
}
