@use "../utils" as u;

.card {
  flex: 1;
  background: linear-gradient(136.63deg, #99bafb -26.39%, #5c93fe 96.28%);
  border-radius: u.rem(16);
  padding: u.rem(32) u.rem(32);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .imgBox {
    width: u.rem(92);
    height: u.rem(92);
    border-radius: 50%;
    background: #26306b;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 47.4%;
    }
  }

  @include u.breakpoint(large) {
    padding: u.rem(22) u.rem(24);

    .imgBox {
      width: u.rem(70);
      height: u.rem(70);
    }
  }

  @include u.breakpoint(xsmall) {
    border-radius: u.rem(10);
  }
}
