@use "../utils" as u;
@use "../globals/colors" as colors;

.cardWrapper {
  position: relative;
  background: linear-gradient(90deg, #ffffff, #4987ff, #e064e3);
  border-radius: u.rem(18);
  padding: 0.15rem;
  display: flex;
  width: u.rem(285);
  // height: u.rem(300);
}

.card {
  width: 100%;
  height: 100%;
  border-radius: u.rem(18);
  background-color: colors.$dark-blue;
  padding: u.rem(50);
  width: 100%;
}

.points {
  & > :not(:last-child) {
    margin-bottom: 1.4rem;
  }
}

.point {
  position: relative;
  display: flex;
  line-height: 1.6;

  .circle {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    display: block;
    margin-bottom: 0.2em;
    margin-right: 0.7em;
    margin-top: 0.46em;
  }
}

@include u.breakpoint(medium) {
  .cardWrapper {
    border-radius: u.rem(18);
    max-width: 100% !important;
    width: 100%;
    height: auto;
  }

  .card {
    padding: u.rem(40) u.rem(40);
  }
}
