@use "../utils" as u;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > :not(:last-child) {
    margin-bottom: u.rem(50);
  }

  header {
    p {
      max-width: u.rem(789);
    }
  }

  main {
    max-width: u.rem(900);
    width: 100%;
  }

  footer {
    position: relative;
    background-color: #0d0a2c;
    background-image: url(../../assets/images/rewards/bg.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    max-width: u.rem(692);
    border-radius: u.rem(24);
    padding: u.rem(36) u.rem(48);

    display: flex;
    // align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & > :not(:last-child) {
      margin-right: u.rem(50);
    }
  }

  @include u.breakpoint(medium) {
    footer {
      flex-direction: column;
      align-items: center;
      max-width: 20rem;

      & > :not(:last-child) {
        margin-right: u.rem(0);
        margin-bottom: u.rem(20);
      }
    }
  }

  @include u.breakpoint(small) {
    & > :not(:last-child) {
      margin-bottom: u.rem(30);
    }

    footer {
      max-width: 18rem;

      & > img {
        max-width: 5rem;
      }
    }
  }
}
