@use "../utils" as u;

.containerWrapper {
  position: relative;

  .banner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 26%;
    max-width: u.rem(400);
    z-index: -10;
  }

  .container {
    header {
      max-width: u.rem(727);
      p {
        max-width: u.rem(573);
      }
    }

    main {
      max-width: u.rem(760);
      display: grid;
      gap: u.rem(48);
    }
  }

  @include u.breakpoint(large) {
    .banner {
      display: none;
    }

    .container {
      main {
        gap: u.rem(24);
      }
    }
  }
}
