@use "../utils/" as u;

.wrapper {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      max-width: u.rem(819);
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: u.rem(44);
  }

  @include u.breakpoint(large) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      gap: u.rem(20);
    }
  }
  @include u.breakpoint(small) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
