@use "../utils" as u;

.wrapper {
  position: relative;
  box-shadow: inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(44px);
  border-radius: u.rem(20);
  padding: 2rem;
  min-height: 100vh;
  border: 2px solid white;
  background: linear-gradient(
    67.84deg,
    rgba(104, 45, 140, 0.1) -1.82%,
    rgba(235, 30, 121, 0.1) 106.59%
  );

  .chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: u.rem(422);
    height: u.rem(422);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .chartImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }
  }

  .pieChart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.card {
  position: absolute;
  top: 16%;
  left: 114%;
  width: u.rem(270);
  border-radius: u.rem(6);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: u.rem(24);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 3rem;
  }
}

@include u.breakpoint(medium) {
  .wrapper {
    min-height: 72vw !important;
    padding-top: 1.8rem;
  }
}

@include u.breakpoint(xsmall) {
  .containerWrapper {
    box-shadow: inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(44px);
    border: 2px solid white;
    border-left: none;
    border-right: none;
    background: linear-gradient(
      67.84deg,
      rgba(104, 45, 140, 0.1) -1.82%,
      rgba(235, 30, 121, 0.1) 106.59%
    );
  }
  .wrapper {
    min-height: 85vw !important;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    border: none;
    padding: 2rem 0;
  }
}
