/* COLORS */

$pink: #ff49f8;
$light-blue: #f5f6f8;
$red: #ef233c;
$green: #02929b;
$dark-blue: #0d0a2c;

.black {
  color: #000000;
}
.white {
  color: #fafcff;
}
.pink {
  color: $pink;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.dark-blue {
  color: $dark-blue;
}

// BACKGROUNDS

.bg-pink {
  background-color: $pink;
}
.bg-light-blue {
  background-color: $light-blue;
}
.bg-red {
  background-color: $red;
}
.bg-green {
  background-color: $green;
}
